  <nav class="white" role="navigation">
    <div class="nav-wrapper">
{{!--       <a id="group-name" href="#" class="brand-logo center">{{groupName}}</a> --}}
      <div class="row nav-row">
      <div class="col s4 left">
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Volunteer</a></li>
        <li><a href="#">Members</a></li>
        <li><a href="/dashboard?group=addjoin">Add/Join Group</a></li>
        <li><a id="logout" href="/logout">Logout</li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse show-on-large left green-text text-accent-4"><i class="material-icons">menu</i></a>
    </div>
      <div class="col s4 center dropdown-button hoverable" data-activates="user-groups">
      <ul id="user-groups" class="dropdown-content">
        {{#each userGroups}}
        <li><a href="/dashboard?groupcode={{orgCode}}" class="green-text text-accent-4 center">{{orgName}}</a></li>
        {{/each}}
      </ul>
      <h4 class="white green-text text-accent-4">{{groupName}}</h2>
      </div>
      <div class="col s4">
      <a id="logo-container" href="#" class="brand-logo right"><img src="assets/images/logo.png" class="responsive-img" id="logo"></a>
      </div>
    </div>
  </nav>
  <section>
    <div class="row">
      {{#if admin}}
      <div id="volunteer" class="col s12 m12 l3 dragdrop">
      {{else}}
      <div id="volunteer" class="col s12 m12 l3">
      {{/if}}      
        <div class=card>
          <div class="card-content">
            <span class="card-title">Volunteer</span>
          </div>
        </div>
      </div>
      {{#if admin}}
      <div id="events" class="col s12 m12 l6 dragdrop">
      {{else}}
      <div id="events" class="col s12 m12 l6">
      {{/if}}


        <div class=card>
          <div class="card-content">
            <span class="card-title">Events</span>
            <div id="calendar" class="container"></div>
          </div>
          
                <div id="calendar-event" class="modal">
                  <div class="modal-content">
                    <h4>Modal Header</h4>
                    <p>A bunch of text</p>
                  </div>
                  <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                  </div>
                </div>
          {{#if admin}}
          <div class="row button-row">
            
            {{!-- Button to add event and modal form. --}}
            <div class="col s4 hoverable event-add">
              <div class="card-action">
                <a class="green-text text-accent-4" href="#event-add">Add Event</a>
                <div id="event-add" class="modal">
                  <div class="modal-content">
                    <h4>Modal Header</h4>
                    <p>A bunch of text</p>
                  </div>
                  <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col s8 event-add">
              <div class="card-action">
              </div>
            </div>

          </div><!--Button row-->
          {{/if}}
        </div>
      </div>
      {{#if admin}}
      <div id="member" class="col s12 m12 l3 dragdrop">
      {{else}}
      <div id="member" class="col s12 m12 l3">
      {{/if}}
        <div class=card>
          <div class="card-content">
            <span class="card-title">Member</span>
          </div>
        </div>
      </div>

    </div>
    {{#if groupsZero}}
    <div id="select-group" class="modal" data-dismiss="{{dismiss}}">
      <div class="modal-content">
      {{#if notRegistered}}
          {{!-- Registration form --}}
          <form method="POST" class="col s12 center-align register" id="registration-form" action="/register?_method=POST">
            <input type="hidden" name="userID" value="{{userID}}">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix green-text text-accent-4">person</i>
                <input name="username" id="username" value="{{name}}" type="text" class="validate" required="required">
                <label for="username">Username</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12 m6">
                <input name="firstName" id="first-name" value="{{fName}}" type="text" class="validate" required="required">
                <label for="first-name">First Name</label>
              </div>
              <div class="input-field col s12 m6">
                <input name="lastName" id="last-name" value="{{lName}}" type="text" class="validate" required="required">
                <label for="last-name">Last Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix green-text text-accent-4">email</i>
                <input name="email" id="email" value="{{email}}" type="email" class="validate" required="required">
                <label for="username">E-mail</label>
              </div>
            </div>
            <button class="btn waves-effect waves-light green accent-4" type="submit" name="action">Register
              <i class="material-icons right">send</i>
            </button>
          </form>
      {{/if}}
          <div class="container {{display}}">
          {{!-- Button to create group --}}
          <div class="row center-align">
              <a class="btn waves-effect waves-light green accent-4 white-text group-action" id="group-add">Create a Group</a>
          </div>

          {{!-- Form to create group --}}
          <form method="POST" class="col s12 hide center-align group-post" id="group-add-form" action="/group/add?_method=POST">
            <input type="hidden" name="userID" value="{{userID}}">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix green-text text-accent-4" id="group-add-icon">group</i>
                <input id="group-name" name="groupName" type="text" class="validate" required="required">
                <label for="group-name">Group Name</label>
              </div>
            </div>
            <button class="btn waves-effect waves-light green accent-4" type="submit" name="action">Create Group
            </button>
          </form>

            {{!-- Button to join group --}}
           <div class="row center-align">
              <a class="btn waves-effect waves-light green accent-4 white-text group-action" id="group-join">Join a Group</a>
          </div>

          {{!-- Form to join group --}}
          <form method="POST" class="col s12 hide center-align group-post" id="group-join-form" action="/group/join?_method=POST">
            <input type="hidden" name="userID" value="{{userID}}">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix green-text text-accent-4">group</i>
                <input id="group-id" name="groupID" type="text" class="validate" required="required">
                <label for="group-id">Group ID (Contact Administrator for ID)</label>
              </div>
            </div>
            <button class="btn waves-effect waves-light green accent-4" type="submit" name="action">Join Group
            </button>
          </form>
          </div>

    </div>
    {{/if}}
  </section>
